* {
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 32px;
  margin-left: 32px;
}

.modal-container {
  background: rgba(255, 255, 255, 0.1);
  color: #00fbff;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100svh;
}
