img {
  margin: 16px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border: 3px solid red;
  pointer-events: none;
}

.score-para {
  width: 120px;
  height: 40px;
  border: 1px solid wheat;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-container {
  display: flex;
  gap: 2rem;
}
