*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
}

button,
input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img,
label {
  display: block;
  max-width: 100%;
}
