@font-face {
  font-family: 'Chillax';
  src: url(./assets/fonts/Chillax-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url(./assets/fonts/Chillax-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Chillax';
}

button,
input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img,
label {
  display: block;
  max-width: 100%;
}
